.header{  
  background-color: #DDD;
  padding: 10px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.headerTitle{
  width: 200px;
  color: #000;
  text-decoration: none;
}
.headerTitle:hover{
  text-decoration: none;
}